<%- include ("../partials/header")%>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Mettre à jour votre commentaire</h1>
    <div style="width: 30%; margin: 25px auto">
      <form
        action="/campgrounds/<%= campground_id%>/comments/<%= comment._id%>?_method=PUT"
        method="post"
      >
        <div class="form-group">
          <textarea
            class="form-control"
            type="text"
            name="comment[text]"
            id=""
            value="<%=comment.text%>..."
            rows="5"
          /></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Submit !
        </button>
      </form>
      <a href="/campgrounds"> Retour </a>
    </div>
  </div>
  </div>


<%- include ("../partials/footer")%>
